**/__pycache__/
*.pkl
*.pyc

# Ignore most generated math data
/math/data/*

# Re-include selected Yahtzee generated data
!/math/data/values/
!/math/data/values/**
!/math/data/reduced_states/
!/math/data/reduced_states/**
!/math/data/precomputed/
!/math/data/precomputed/**
